# Data Cleaning and Exploratory Data Analysis

In [71]:
import pandas as pd
import numpy as np
import regex as re
import datetime as dt

In [2]:
df = pd.read_csv('./data/data.csv')

In [3]:
df.head()

,title,genre,premiere,seasons,length,status,upcoming,table
0,House of Cards,Political drama,"February 1, 2013","6 seasons, 73 episodes",42–59 min.,Ended[1],NaN,0
1,Hemlock Grove,Horror/thriller,"April 19, 2013","3 seasons, 33 episodes",45–58 min.,Ended[2],NaN,0
2,Orange Is the New Black,Comedy-drama,"July 11, 2013","7 seasons, 91 episodes",50–92 min.,Ended[3],NaN,0
3,Marco Polo,Historical drama,"December 12, 2014","2 seasons, 20 episodes",48–65 min.,Ended[4],NaN,0
4,Bloodline,Thriller,"March 20, 2015","3 seasons, 33 episodes",48–68 min.,Ended[5],NaN,0

In [70]:
df.dtypes

title       object
genre       object
premiere    object
seasons     object
length      object
status      object
table        int64
dtype: object

In [5]:
df.isnull().mean()

title       0.308454
genre       0.228484
premiere    0.368621
seasons     0.402133
length      0.590251
status      0.619193
upcoming    1.000000
table       0.000000
dtype: float64

In [7]:
df = df.drop(columns='upcoming')

In [11]:
df = df.dropna(axis=0,subset=['title'])

In [65]:
def split_genre(string):
    string = str(string)
    return ' '.join([term.lower() for term in re.findall('[^\s,\-,\/]+',string)])

In [66]:
split_genre('Coming-of-age drama')

'coming of age drama'

In [68]:
df['genre'] = df['genre'].map(lambda x: split_genre(x))

In [90]:
re.sub("\[\d+\]$","",x)

'November 15, 2019'

In [96]:
df['premiere'] = df['premiere'].map(lambda x: re.sub("\[\d+\]$","",str(x)))

In [146]:
df['premiere_year'] = df['premiere'].map(lambda x: ''.join(re.findall('\d{4}',str(x))))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [116]:
# Table 18 is a list of shows that have been release in other countries.
# I will exclude them as they are not Netflix originals.
df = df[df['table'] != 18]

In [147]:
# Table 16 is full of shows that are up and coming.
df[df['premiere_year']=='']['table'].value_counts()

16    214
Name: table, dtype: int64

In [134]:
months = ["January","February","March","April","May","June","July","August","September","October","November","December"]
month_dict = {month:i+1 for i,month in enumerate(months)}

In [135]:
month_dict

{'January': 1,
 'February': 2,
 'March': 3,
 'April': 4,
 'May': 5,
 'June': 6,
 'July': 7,
 'August': 8,
 'September': 9,
 'October': 10,
 'November': 11,
 'December': 12}

In [144]:
df['premiere_month'] = df['premiere'].map(lambda x: int(month_dict[x.split()[0]]) if x.split()[0] in month_dict.keys() else np.nan)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [145]:
sorted(df['premiere_month'].unique())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, nan]

In [148]:
df.head()

,title,genre,premiere,seasons,length,status,table,year,premiere_month,premiere_year
0,House of Cards,political drama,"February 1, 2013","6 seasons, 73 episodes",42–59 min.,Ended[1],0,2013,2.0,2013
1,Hemlock Grove,horror thriller,"April 19, 2013","3 seasons, 33 episodes",45–58 min.,Ended[2],0,2013,4.0,2013
2,Orange Is the New Black,comedy drama,"July 11, 2013","7 seasons, 91 episodes",50–92 min.,Ended[3],0,2013,7.0,2013
3,Marco Polo,historical drama,"December 12, 2014","2 seasons, 20 episodes",48–65 min.,Ended[4],0,2014,12.0,2014
4,Bloodline,thriller,"March 20, 2015","3 seasons, 33 episodes",48–68 min.,Ended[5],0,2015,3.0,2015

In [165]:
df['seasons_count'] = df['seasons'].map(lambda x: x.split(',')[0][:str(x).find(' ')] if len(str(x).split(',')) == 2 else 0)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [198]:
df['episodes'] = df['seasons'].map(lambda x: x.split(', ')[-1].strip() if len(str(x).split(',')) == 2 else str(x).strip())

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [199]:
df['episodes_count'] = df['episodes'].map(lambda x: x[:x.find(' ')])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [205]:
df['episodes_count'] = df['episodes_count'].map(lambda x: np.nan if x in ['TB','na'] else int(x))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [207]:
df.head()

,title,genre,premiere,seasons,length,status,table,year,premiere_month,premiere_year,seasons_count,episodes,episodes_count
0,House of Cards,political drama,"February 1, 2013","6 seasons, 73 episodes",42–59 min.,Ended[1],0,2013,2.0,2013,6,73 episodes,73.0
1,Hemlock Grove,horror thriller,"April 19, 2013","3 seasons, 33 episodes",45–58 min.,Ended[2],0,2013,4.0,2013,3,33 episodes,33.0
2,Orange Is the New Black,comedy drama,"July 11, 2013","7 seasons, 91 episodes",50–92 min.,Ended[3],0,2013,7.0,2013,7,91 episodes,91.0
3,Marco Polo,historical drama,"December 12, 2014","2 seasons, 20 episodes",48–65 min.,Ended[4],0,2014,12.0,2014,2,20 episodes,20.0
4,Bloodline,thriller,"March 20, 2015","3 seasons, 33 episodes",48–68 min.,Ended[5],0,2015,3.0,2015,3,33 episodes,33.0

In [242]:
def find_length(string):
    return re.findall("\d+[\s,\-,\d]* min",str(string))

In [262]:
df['length'] = df['length'].where(df['length']!='TBA', np.nan)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [302]:
re.findall("\d+")

In [309]:
df['length_range'] = df['length'].map(lambda x: re.findall("\d+",str(x)))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [324]:
df['length_low'] = df['length_range'].map(lambda x: x[0] if len(x)>0 else np.nan)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [331]:
df['length_hi'] = df['length_range'].map(lambda x: x[1] if len(x) > 1 else (x[0] if len(x) > 0 else np.nan))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [344]:
df[['length', 'length_low', 'length_hi']]

      length length_low length_hi
514  13 min.         13        13
515  50 min.         50        50
518  45 min.         45        45
533  23 min.         23        23
538  23 min.         23        23
539      NaN        NaN       NaN
545      NaN        NaN       NaN

In [349]:
hour_mask = df['length'].str.contains('hour')==True

In [354]:
def convert_hour(index):
    if index in df[hour_mask].index:
        df['length'].str.slice(7:-5)

507    1 hour, 15 min.
508    1 hour, 28 min.
511    1 hour, 15 min.
526    1 hour, 30 min.
530     1 hour, 9 min.
531     1 hour, 1 min.
537     1 hour, 1 min.
Name: length, dtype: object

In [362]:
i = 507
df.loc[i,'length_low'] = 75
df.loc[i,'length_hi'] = 75
df.loc[i]

title             Trailer Park Boys: Swearnet Live
genre                                 mockumentary
premiere                           October 1, 2014
seasons                                        NaN
length                             1 hour, 15 min.
status                                         NaN
table                                           15
year                                          2014
premiere_month                                  10
premiere_year                                 2014
seasons_count                                    0
episodes                                       nan
episodes_count                                 NaN
length_range                               [1, 15]
length_low                                      75
length_hi                                       75
Name: 507, dtype: object

In [363]:
i = 508
df.loc[i,'length_low'] = 88
df.loc[i,'length_hi'] = 88
df.loc[i]

title             Trailer Park Boys: Live at the North Pole
genre                                          mockumentary
premiere                                  November 15, 2014
seasons                                                 NaN
length                                      1 hour, 28 min.
status                                                  NaN
table                                                    15
year                                                   2014
premiere_month                                           11
premiere_year                                          2014
seasons_count                                             0
episodes                                                nan
episodes_count                                          NaN
length_range                                        [1, 28]
length_low                                               88
length_hi                                                88
Name: 508, dtype: object

In [364]:
i = 511
df.loc[i,'length_low'] = 75
df.loc[i,'length_hi'] = 75
df.loc[i]

title             Trailer Park Boys: Drunk, High And Unemployed ...
genre                                                  mockumentary
premiere                                           December 9, 2015
seasons                                                         NaN
length                                              1 hour, 15 min.
status                                                          NaN
table                                                            15
year                                                           2015
premiere_month                                                   12
premiere_year                                                  2015
seasons_count                                                     0
episodes                                                        nan
episodes_count                                                  NaN
length_range                                                [1, 15]
length_low                                                       75
length_hi                                                        75
Name: 511, dtype: object

In [365]:
i = 526
df.loc[i,'length_low'] = 90
df.loc[i,'length_hi'] = 90
df.loc[i]

title                    Black Mirror: Bandersnatch
genre             science fiction drama interactive
premiere                          December 28, 2018
seasons                                         NaN
length                              1 hour, 30 min.
status                                          NaN
table                                            15
year                                           2018
premiere_month                                   12
premiere_year                                  2018
seasons_count                                     0
episodes                                        nan
episodes_count                                  NaN
length_range                                [1, 30]
length_low                                       90
length_hi                                        90
Name: 526, dtype: object

In [366]:
i = 530
df.loc[i,'length_low'] = 69
df.loc[i,'length_hi'] = 69
df.loc[i]

title             Malibu Rescue – The Movie
genre                                comedy
premiere                       May 13, 2019
seasons                                 NaN
length                       1 hour, 9 min.
status                                  NaN
table                                    15
year                                   2019
premiere_month                            5
premiere_year                          2019
seasons_count                             0
episodes                                nan
episodes_count                          NaN
length_range                         [1, 9]
length_low                               69
length_hi                                69
Name: 530, dtype: object

In [367]:
i = 531
df.loc[i,'length_low'] = 61
df.loc[i,'length_hi'] = 61
df.loc[i]

title             Oprah Winfrey Presents When They See Us Now
genre                                               interview
premiere                                        June 12, 2019
seasons                                                   NaN
length                                         1 hour, 1 min.
status                                                    NaN
table                                                      15
year                                                     2019
premiere_month                                              6
premiere_year                                            2019
seasons_count                                               0
episodes                                                  nan
episodes_count                                            NaN
length_range                                           [1, 1]
length_low                                                 61
length_hi                                                  61
Name: 531, dtype: object

In [368]:
i = 537
df.loc[i,'length_low'] = 61
df.loc[i,'length_hi'] = 61
df.loc[i]

title             My Next Guest with David Letterman and Shah Ru...
genre                                                     talk show
premiere                                           October 25, 2019
seasons                                                         NaN
length                                               1 hour, 1 min.
status                                                          NaN
table                                                            15
year                                                           2019
premiere_month                                                   10
premiere_year                                                  2019
seasons_count                                                     0
episodes                                                        nan
episodes_count                                                  NaN
length_range                                                 [1, 1]
length_low                                                       61
length_hi                                                        61
Name: 537, dtype: object

In [392]:
df.dtypes

title              object
genre              object
premiere           object
seasons            object
length             object
status             object
table               int64
year               object
premiere_month    float64
premiere_year       int64
seasons_count      object
episodes           object
episodes_count    float64
length_range       object
length_low         object
length_hi          object
dtype: object

In [391]:
df['premiere_year'] = df['premiere_year'].map(lambda x: int(x) if x != '' else 9999)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [393]:
df.dtypes

title              object
genre              object
premiere           object
seasons            object
length             object
status             object
table               int64
year               object
premiere_month    float64
premiere_year       int64
seasons_count      object
episodes           object
episodes_count    float64
length_range       object
length_low         object
length_hi          object
dtype: object

In [397]:
df['seasons_count'] = df['seasons_count'].astype(int)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [398]:
df.dtypes

title              object
genre              object
premiere           object
seasons            object
length             object
status             object
table               int64
year               object
premiere_month    float64
premiere_year       int64
seasons_count       int64
episodes           object
episodes_count    float64
length_range       object
length_low         object
length_hi          object
dtype: object

In [403]:
df['length_low'] = df['length_low'].fillna(9999).astype(int)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [404]:
df['length_hi'] = df['length_hi'].fillna(9999).astype(int)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [405]:
df.dtypes

title              object
genre              object
premiere           object
seasons            object
length             object
status             object
table               int64
year               object
premiere_month    float64
premiere_year       int64
seasons_count       int64
episodes           object
episodes_count    float64
length_range       object
length_low          int64
length_hi           int64
dtype: object

In [407]:
df.columns

Index(['title', 'genre', 'premiere', 'seasons', 'length', 'status', 'table',
       'year', 'premiere_month', 'premiere_year', 'seasons_count', 'episodes',
       'episodes_count', 'length_range', 'length_low', 'length_hi'],
      dtype='object')

In [409]:
df[['title', 'genre', 'status', 'table', 'premiere_month', 'premiere_year', 'seasons_count',
       'episodes_count', 'length_low', 'length_hi']].isnull().mean()

title             0.000000
genre             0.000000
status            0.396864
table             0.000000
premiere_month    0.353438
premiere_year     0.000000
seasons_count     0.000000
episodes_count    0.411339
length_low        0.000000
length_hi         0.000000
dtype: float64

In [414]:
df = df[~df['episodes_count'].isnull()]

In [417]:
df = df[~df['premiere_month'].isnull()]

In [420]:
df.columns

Index(['title', 'genre', 'premiere', 'seasons', 'length', 'status', 'table',
       'year', 'premiere_month', 'premiere_year', 'seasons_count', 'episodes',
       'episodes_count', 'length_range', 'length_low', 'length_hi'],
      dtype='object')

In [427]:
df = df[['title', 'genre', 'status', 'table', 'premiere_month', 'premiere_year', 'seasons_count',
       'episodes_count', 'length_low', 'length_hi']]

In [442]:
df['status'] = df['status'].map(lambda x: re.sub("\[\d+\]","", x).strip())

error: unbalanced parenthesis at position 25

In [445]:
df['status'] = df['status'].map(lambda x: 'Renewed' if ' due' in x else x)
df['status'].unique()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

array(['Ended', 'Renewed', 'Miniseries', 'Renewed for final season',
       'Pending', 'Renewed for parts 3 and 4',
       'Renewed for seasons 6 and 7', 'Renewed for final part',
       'Ended[a]', 'Renewed for seasons 4, 5 and 6',
       'Renewed for seasons 3 and 4', 'Season 2 ongoing',
       'Season 1 ongoing', 'Ended[c]', 'Part 2 ongoing', 'Ended[e]'],
      dtype=object)

In [446]:
df['status'] = df['status'].map(lambda x: 'Renewed' if 'Renewed' in x else x)
df['status'].unique()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

array(['Ended', 'Renewed', 'Miniseries', 'Pending', 'Ended[a]',
       'Season 2 ongoing', 'Season 1 ongoing', 'Ended[c]',
       'Part 2 ongoing', 'Ended[e]'], dtype=object)

In [447]:
df['status'] = df['status'].map(lambda x: 'Ended' if 'Ended' in x else x)
df['status'].unique()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

array(['Ended', 'Renewed', 'Miniseries', 'Pending', 'Season 2 ongoing',
       'Season 1 ongoing', 'Part 2 ongoing'], dtype=object)

In [448]:
df['status'] = df['status'].map(lambda x: 'Renewed' if 'ongoing' in x else x)
df['status'].unique()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

array(['Ended', 'Renewed', 'Miniseries', 'Pending'], dtype=object)

In [448]:
df['status'] = df['status'].map(lambda x: 'Renewed' if 'ongoing' in x else x)
df['status'].unique()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

array(['Ended', 'Renewed', 'Miniseries', 'Pending'], dtype=object)

In [451]:
df[df['status'] == 'Pending']

,title,genre,status,table,year,premiere_month,premiere_year,seasons_count,episodes_count,length_low,length_hi
16,Mindhunter,crime drama,Pending,0,2017,10.0,2017,2,19.0,34,73
25,Tidelands,supernatural crime drama,Pending,0,2018,12.0,2018,1,8.0,36,48
28,Shadow,thriller,Pending,0,2019,3.0,2019,1,8.0,40,49
29,Black Summer,zombie drama,Pending,0,2019,4.0,2019,1,8.0,21,45
32,What/If,social thriller anthology,Pending,0,2019,5.0,2019,1,10.0,44,58
...,...,...,...,...,...,...,...,...,...,...,...
495,Comedians in Cars Getting Coffee (seasons 10–11),comedy,Pending,14,2018,7.0,2018,2,24.0,12,41
496,Inside the World’s Toughest Prisons (seasons 2–3),docu series,Pending,14,2018,7.0,2018,2,8.0,47,54
497,MeatEater (seasons 7–8),docu series,Pending,14,2018,10.0,2018,2,24.0,22,30
499,Hip-Hop Evolution (seasons 2–3),docu series,Pending,14,2018,10.0,2018,2,8.0,38,52
502,Slasher (season 3),horror,Pending,14,2019,5.0,2019,1,8.0,45,48

In [457]:
df = df[df['status'] != 'Miniseries']

In [458]:
df

,title,genre,status,table,year,premiere_month,premiere_year,seasons_count,episodes_count,length_low,length_hi
0,House of Cards,political drama,Ended,0,2013,2.0,2013,6,73.0,42,59
1,Hemlock Grove,horror thriller,Ended,0,2013,4.0,2013,3,33.0,45,58
2,Orange Is the New Black,comedy drama,Ended,0,2013,7.0,2013,7,91.0,50,92
3,Marco Polo,historical drama,Ended,0,2014,12.0,2014,2,20.0,48,65
4,Bloodline,thriller,Ended,0,2015,3.0,2015,3,33.0,48,68
...,...,...,...,...,...,...,...,...,...,...,...
501,Lucifer (season 4),fantasy police procedural,Renewed,14,2019,5.0,2019,1,10.0,48,55
502,Slasher (season 3),horror,Pending,14,2019,5.0,2019,1,8.0,45,48
503,Designated Survivor (season 3),political thriller,Ended,14,2019,6.0,2019,1,10.0,47,53
505,Money Heist (part 3),thriller,Renewed,14,2019,7.0,2019,1,8.0,41,57
506,Top Boy (series 3),crime drama,Renewed,14,2019,9.0,2019,1,10.0,44,66

In [462]:
df = df[df['status'] != 'Pending']

In [464]:
df.to_csv('./data/model.csv', index=False)

# Summary
In this notebook we parse our data down, and removed all null values. We standardized it so that modelling can commence.